.icono{
	position: absolute;
	height: 100px;
	width: 100px;
	bottom: 150px;
	left: 400px;
}
.contiene{
	background-color: yellow;
}
.bra1{
	display:inline;
	margin:7px;
	width: 12%;
	padding-left:20px; 
}
.derecha {
	display: inline-block;
	text-align: center;
	position: relative;
	left: 70px;
	bottom: 30px;
	font-size: 30px;

}
/*investigar bien las barras de navegacion*/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position:relative;
	left: 75%;
	top:-30px;
}